{% extends "base.html" %}

{% block content %}

<article>
    <header>
        <h1>For Sales!</h1>
    </header>
    <section>
        <h3 style="font-familiy:georgia, garamond, serif; font-size:20px; font-style:italic">Dachshund</h3>
        <body>
            <img src="/../static/img/puppy.png" alt="Puppy">
            <p><b>Height: </b> 30cm</p>
            <p><b>Weight: </b> 12kg</p>
            <p><b>Description:</b>Nice dog</p>
        </body>
    </section>
     <section>
        <h3 style="font-familiy:georgia, garamond, serif; font-size:20px; font-style:italic">Alaska Tundra</h3>
        <body>
            <img src="/../static/img/alaskan.png" alt="Puppy">
            <p><b>Height: </b> 100cm</p>
            <p><b>Weight: </b> 35kg</p>
            <p><b>Description:</b>Nice dog</p>
        </body>
    </section>
</article>

{% endblock content %}

